<body>
<div class="search">
  <div class="cui__input giant">
    <label class="cui__input__label">
      Type your search query
    </label>
    <input class="cui__input__input"
           onkeyup="Eksercise.Pages.Index.resetSearchInput(this);Eksercise.Pages.Index.search(event, this)"
           onkeypress="Eksercise.Pages.Index.resetSearchInput(this)"
    />
  </div>

  <div class="results">

    <div class="cui__selector--direct title">

      <!--<h2 class="cui__selector&#45;&#45;direct__title">-->
        <!--Search results-->
      <!--</h2>-->

      <!--<div class="cui__selector&#45;&#45;direct__item">-->
        <!--<img class="user-avatar" src="anscombe.jpg" />-->

        <!--<div class="cui__selector&#45;&#45;direct__label">-->
          <!--Elizabeth Anscombe (65), +46-771793336-->
        <!--</div>-->

        <!--<p class="cui__selector&#45;&#45;direct__description">-->
          <!--Mackenzie Av, 34. Toronto, Canada.-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="cui__selector&#45;&#45;direct__item">-->
        <!--<img class="user-avatar" src="tarski.jpg" />-->

        <!--<div class="cui__selector&#45;&#45;direct__label">-->
          <!--Alfred Tarski (74), +46-771793336-->
        <!--</div>-->

        <!--<p class="cui__selector&#45;&#45;direct__description">-->
          <!--Mackenzie Av, 34. Toronto, Canada.-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="cui__selector&#45;&#45;direct__item">-->
        <!--<img class="user-avatar" src="quine.jpg" />-->

        <!--<div class="cui__selector&#45;&#45;direct__label">-->
          <!--Willard Van Orman Quine (82), +46-771793336-->
        <!--</div>-->

        <!--<p class="cui__selector&#45;&#45;direct__description">-->
          <!--Mackenzie Av, 34. Toronto, Canada.-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="cui__selector&#45;&#45;direct__item">-->
        <!--<img class="user-avatar" src="nussbaum.jpg" />-->

        <!--<div class="cui__selector&#45;&#45;direct__label">-->
          <!--Martha Craven Nussbaum (50), +46-771793336-->
        <!--</div>-->

        <!--<p class="cui__selector&#45;&#45;direct__description">-->
          <!--Mackenzie Av, 34. Toronto, Canada.-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="cui__selector&#45;&#45;direct__item">-->
        <!--<img class="user-avatar" src="beauvoir.jpg" />-->

        <!--<div class="cui__selector&#45;&#45;direct__label">-->
          <!--Simone de Beauvoir (44), +46-771793336-->
        <!--</div>-->

        <!--<p class="cui__selector&#45;&#45;direct__description">-->
          <!--Mackenzie Av, 34. Toronto, Canada.-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="cui__selector&#45;&#45;direct__item">-->
        <!--<img class="user-avatar" src="russell.jpg" />-->

        <!--<div class="cui__selector&#45;&#45;direct__label">-->
          <!--Bertrand Arthur William Russell (66), +46-771793336-->
        <!--</div>-->

        <!--<p class="cui__selector&#45;&#45;direct__description">-->
          <!--Mackenzie Av, 34. Toronto, Canada.-->
        <!--</p>-->
      <!--</div>-->


    </div>

  </div>
</div>
</body>
</html>
