<div class="search">
  <div class="cui__input giant">
    <label class="cui__input__label">
      Type your search query
    </label>
    <input class="cui__input__input"
           onkeyup="Eksercise.UIComponents.SearchInput.resetSearchInput(this);Eksercise.Pages.Index.search(event, this)"
           onkeydown="Eksercise.UIComponents.SearchInput.resetSearchInput(this)"
    />
  </div>

  <div class="results">
    <div class="cui__selector--direct title" id="search_results_container"></div>
  </div>
</div>
