// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  margin: 0 auto;
  width: 800px;
}

.user-avatar {
  float: left;
  margin-right: 12px;
  width: 40px;
  border-radius: 40px;
}

.results {
  margin-top: 40px;
}

.loading{
  background: image-url('loading.gif');
  width: 130px;
  height: 220px;
  background-position: -146px -124px;
  display: none;
}